<table>
  <% @scores.each do |score| %>
    <tr>
        <td><%= score.applicant.first_name %></td>
        <td><%= score.applicant.last_name %></td>
        <td><%= link_to "Edit", edit_score_path(score) %></td>
    </tr>
  <% end %>
</table>
