.c-flash {
  background-color: var(--color-dark-gray);
  color: var(--color-black);
  height: var(--spacing-sm);
  margin-top: auto;
  margin-bottom: auto;
  line-height: var(--spacing-sm);
  padding-left: var(--spacing-sm);
  padding-top: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  font-size: var(--font-size-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c-flash--notice {
  background-color: var(--color-green);
}

.c-flash--alert {
  color: var(--color-white);
  background-color: var(--color-dark-red);
}
