.l-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-main {
  justify-content: center;
  text-align: center;
}

.title-section {
  background-color: rgb(250, 251, 255);
  text-align: center;
  font-size: 35px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.score-header {
  margin-top: 35px;
}

.scores-form-div {
  background-color: rgb(250, 255, 250);
  padding: 2rem;
  font-size: 1.5rem;
  border-top: 2px solid var(--color-dark-gray);
  border-bottom: 2px solid var(--color-dark-gray);
}

.scores-form {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.scores-form-div > * {
  padding: 1.5rem;
}

.scores-form-title {
  text-align: center;
}

.select-form {
  padding: 0.5rem;
  border: 1px solid var(--color-black);
  background-color: rgb(211, 243, 216);
}

h3 {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #cfdae2;
  border-bottom: 1px solid #cfdae2;
  margin: 1rem, 0, 1rem, 0;
}

h4 {
  padding: 0.75rem;
  text-align: center;
  border-top: 1px solid #cfdae2;
  border-bottom: 1px solid #cfdae2;
  margin: 1rem, 0, 1rem, 0;
  background-color: rgb(250, 255, 250);
}

p {
  text-align: center;
  font-size: 1.5rem;
}

li {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 1rem;
}

.index-title {
  font-size: 35px;
  background-color: rgb(255, 244, 233);
}

th, td {
  max-width: 115px;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #000;
}

.th-non-link {
  border-right: 1px solid #000;
}

.td-non-link {
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-right: 1px solid #000;
}

.td-date {
  max-width: 200px;
}

.edit-button {
  background-color: rgb(214, 214, 214);
  border: 1px solid var(--color-black);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);
  outline: none;

  &:active {
    box-shadow: unset;
  }
}

.edit-button:hover {
  /* link text color disables text color */
  background-color: rgb(194, 219, 248);
  color: rgb(210, 209, 219);
  border: 1px solid var(--color-black);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.14);
  outline: none;

  &:active {
    box-shadow: unset;
  }
}

/* .index-pending {
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 10px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
} */

.blue-link {
  text-decoration: none;
  color: var(--color-black);
  background-color: rgb(211, 221, 243);
  text-align: center;
  border: 1px solid var(--color-black);
  padding: 0.75rem;
  font-size: 1.14rem;
}

.blue-link:hover {
  text-decoration: none;
  background-color: var(--color-dark-blue);
  color: #fff;
  cursor: pointer;
}

.list-items {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style-type: none;
}

.new-link {
  font-size: 1.5rem;
}

.submit-scores {
  margin: auto;
}

.mccoy-checkbox-div {
  text-align: left;
  margin-bottom: 30px;
  padding-left: 25px;
}

.mccoy-checkbox {
  transform: scale(2);
  padding: 4rem;
}

.checkboxtext {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 110%;
  display: inline;
}

.new-score-selectors-table {
  margin-bottom: 50px;
}

.score-select-td {
  min-width: 500px;
  padding: 25px;
  border-bottom: 1px solid var(--color-light-gray);
  border-top: 1px solid var(--color-light-gray);
}

.text-area {
  width: 36rem;
  height: 7rem;
}

.cancel-buttons-div {
  margin: 4em 0 2em 0;
}

.red-link {
  text-decoration: none;
  background-color: rgb(243, 211, 211);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 0.75rem;
  font-size: 1.14rem;
}

.red-link:hover {
  text-decoration: none;
  background-color: var(--color-dark-red);
  color: #fff;
  cursor: pointer;
}

.green-link {
  text-decoration: none;
  background-color: rgb(211, 243, 216);
  color: var(--color-black);
  border: 1px solid var(--color-black);
  padding: 0.75rem;
  font-size: 1.14rem;
}

.green-link:hover {
  background-color: var(--color-dark-green);
  color: #fff;
  cursor: pointer;
}

.green-link-select {
  text-align: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: 0.5rem;
  font-size: 1.25rem;
}

.green-link-select:hover {
  background-color: var(--color-dark-green);
  color: #fff;
  cursor: pointer;
}

.reviewed-by-text {
  margin-top: 1rem;
  /* border-bottom: 2px solid var(--color-dark-gray); */
}

.reviewed-by-text > * {
  text-align: center;
  font-size: 1.5rem;
}

.removed-queue {
  margin-top: 75px;
}

.removed-title {
  font-size: 20px;
  padding: 10px;
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
}

.removed-list {
  text-align: left;
  font-size: 20px;
  padding: 13px;
  max-width: 300px;
}

.index-removed-list {
  border-bottom: 1px solid var(--color-dark-gray);
}
